// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-container{
    padding-top:15%;
    text-align:center;
    display: block;
    box-sizing: border-box;
}

.notice{
    padding-top:1%;
    padding-left: 2%;
    text-align:left;
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-family: "Delicious";
}

#centered{
    padding: 20px 0px;
}

.login-link{
    font-size:20px;
}

.page-footer{
    background-color: #721212;
}

body {
    display: flex;
    min-height: 100h;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  @media only screen and (max-width: 992px) {
      nav .brand-logo-icon {
    display : none !important;
  }
  }

.nav-wrapper{
   background:  #721212;
   width: 100%;
   padding-left: 28%;
}

#centered{
   padding: 20px 0px;
}

.vertical-center {
  min-height: 40%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}